@keyframes alert-popup {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    8% {
        transform: translateY(0);
        opacity: 1;
    }

    92% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}